[submodule "vicious"]
	path = vicious
	url = http://git.sysphere.org/vicious
[submodule "tyrannical"]
	path = tyrannical
	url = https://github.com/Elv13/tyrannical.git
[submodule "blingbling"]
	path = blingbling
	url = git://github.com/cedlemo/blingbling.git
